html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
}

.main-container {
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.photo-profil {
    border-radius: 50%;
}

.social-actions {
    border: rgba(14, 27, 172, 0.36) solid 2px;
    border-radius: 12px;
    padding: 9px;
}