html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
}

a .fa {
    color: #eceff1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

a .fa:hover {
    color: #b0bec5;
}

.card .card-content {
    border-radius: 0 0 0 0;
}

.card .emphasis {
    font-size: 23px;
}

.margin-bottom {
    margin-bottom: 23px;
}

#top-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#minus-margin {
    margin-right: 0;
}

.animated {
    margin: 45px;
    animation: rotate 4s linear 0s infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}